$font-size: 26px;
.breakPoints-form {
  font-size: $font-size;
  display: flex;
  flex-direction: column;

  li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
  }

  input {
    width: 90px;
    font-size: $font-size;

    // delete up and down arrows:
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

}