@use "../global-vars";

.cube-form {
  display: flex;
  flex-direction: column;
  width: global-vars.$cube-size;
  height: global-vars.$cube-size;
  padding: global-vars.$cube-padding;
  margin: global-vars.$cube-margin;
  border-radius: global-vars.$cube-border-radius;
  border: global-vars.$cube-border;
  justify-content: space-between;
  background-size: cover;
  position: relative;

  .cube-header {
    font-size: 24px;
  }

  label {
    font-weight: 500;

  }

  .update-button {
    background: rgba(white, .8);
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  input {
    font-size: 18px;
    width: -webkit-fill-available;
    background: rgba(white, .8);

  }

  .id-input {
    font-size: 13px;
  }

  .message {
    font-size: 13px;
    align-self: flex-start;
  }
}