@use "../global-vars";
@use "../mixin";

.image-card {
  width: global-vars.$card-size;
  height: global-vars.$card-size;
  padding: global-vars.$card-padding;
  margin: global-vars.$card-margin;
  border-radius: global-vars.$card-border-radius;
  border: global-vars.$card-border;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .select-wrapper {
    @include mixin.flex-center;
    flex: 1;
  }

  select {
    width: 150px;
  }

  .select-image-positions-wrapper {
    flex: 2;
    display: flex;

    .select-image-position {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      h4 {
        flex: 1;
        align-self: center;
      }

      .select-coordinates-container {
        flex: 4;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;


        .select-coordinates-wrapper {
          flex: 1;
          .select-coordinates {
            width: 50%;
          }
        }
      }
    }
  }
}