.video-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 26px;

  label {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  input, textarea {
    font-size: 16px;
  }

  textarea {
    height: 150px;
  }

  .delete-button {
    width: fit-content;
    align-self: flex-end;
    margin-top: 5px;
  }
}