@use "../../global-vars";
@use "../../mixin";

.image-card {
  width: global-vars.$card-size;
  height: global-vars.$card-size;
  padding: global-vars.$card-padding;
  margin: global-vars.$card-margin;
  border-radius: global-vars.$card-border-radius;
  border: global-vars.$card-border;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .select-wrapper {
    @include mixin.flex-center;
    flex: 1;
  }

  select {
    width: 200px;
  }

  .select-image-positions-wrapper {
    flex: 1;
    display: flex;
  }

  .submit-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .update-button {
      margin: 0;
      background: #E8D9EC;
    }
  }
}