@use './assets/styles/global-vars';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: global-vars.$font-family;
}

body {
  margin: 0;
  background: global-vars.$background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: global-vars.$text-color;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: global-vars.$text-color;
  transition: color 150ms linear;

  &:hover {
    color: global-vars.$text-color-hover;
  }
}

input, button, textarea, select {
  color: global-vars.$text-color;
  border: 1px solid global-vars.$purple;
  border-radius: 3px;
  padding: 5px;
}

button {
  transition: transform 150ms linear;
  cursor: pointer;
  background-color: rgba(global-vars.$purple, .2);
  font-weight: 500;
  &:hover {
    transform: scale(.9);
  }
}

.update-button {
  font-size: 24px;
  margin-top: 20px;
}

.delete-button {
  background: #ffb0b0;
}

.message {
  margin-top: 15px;
  font-size: 24px;
  align-self: center;
}

.required {
  &::after {
    content: '*';
    color: red;
    font-size: 26px;
    position: relative;
    top: 3px;
  }
}