@use './assets/styles/global-vars';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: global-vars.$background-color;
  font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: global-vars.$text-color;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: global-vars.$text-color;
  transition: color 150ms linear;
  &:hover {
    color: global-vars.$text-color-hover;
  }
}