// color palette:
$purple: #8c429e;
$blue: #1d3ec3;


$background-color: #fff;
$text-color: $purple;
$text-color-hover: $blue;

$font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$cube-size: 300px;
$cube-border-radius: 3px;
$cube-border: 1px solid $purple;
$cube-margin: 20px;
$cube-padding: 15px;