@use 'mixin';
@use 'global-vars';

.page-container {
  margin: 50px 0;

  @include mixin.flex-center;
  flex-direction: column;

  .inline-settings {
    margin-top: 50px;
  }

  section {

    .page-title {
      margin-bottom: 50px;
      font-size: 40px;
      text-align: center;
    }

    .form-header, .section-header {
      margin-bottom: 20px;
      font-size: 26px;
    }

    .back-button {
      position: absolute;

      a {
        &:hover {
          color: inherit;
        }
      }
    }

    .page-list {
      display: flex;

      a {
        margin: 5px;
        padding: 10px;
        font-size: 24px;

        &:active {
          color: global-vars.$blue;
        }
      }
    }

  }
}

