@use 'mixin';
@use 'global-vars';

.homepage-container {
  @include mixin.flex-center;
  flex-direction: column;
  min-height: global-vars.$homepage-min-height;

  .hp-title {
    margin-bottom: 50px;
    font-size: 40px;
  }

  .pages-list {
    display: flex;

    a {
      margin: 5px;
      padding: 10px;
      font-size: 24px;
    }
  }
}